@font-face {
	font-family:fred ;
	src: url(/fonts/FredokaOne-Regular.ttf);
}

@font-face {
	font-family: Din;
	src: url(/fonts/DIN.ttf);
}

@font-face {
	font-family: without;
	src: url(/fonts/WithoutAltSans-Black.ttf);
}

body{
    margin: 0;
    padding: 0;
    /*background: linear-gradient(-45deg, #ee7752, gold, #23a6d5, beige);*/
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	background-color: antiquewhite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#content{
	text-align: center;
	width: 100vw;
	margin-top: 10%;
}

#content h1{
	font-family: Without;
}

input{
	width: 30vw;
	height: 5vh;
	border-radius: 2px;
	border: transparent 2px solid;
	box-shadow: black 2px 2px 2px;
	text-align: center;
}

button{
	width: 10vw;
	height: 5vh;
	border: solid transparent;
	transition: all 1s ease-in-out;
	border-radius: 10px;
	background-color: gold;
	font-family: fred;
}

button:hover{
	background-color: black;
	color: gold;
}

#meaning{
	display: flex;
	justify-content: left;
	margin-top: 4vh;
	font-size: large;
	font-family:Helvetica;
	text-align: center;
	letter-spacing: normal;
}

#search{
	font-family: Din;
}