@font-face {
	font-family:monserrat ;
	src: url(/fonts/Montserrat-Regular.otf);
}

@font-face {
	font-family: Din;
	src: url(/fonts/DIN.ttf);
}

@font-face {
	font-family: without;
	src: url(/fonts/WithoutAltSans-Black.ttf);
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
  }
  
  body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;  /* Ensure body covers the full viewport height */
	background-color: beige;
  }

  #logo{
	font-family: without;
	font-size: medium;
	display: flex;
	flex-direction: row;
	width: 100vw;
	justify-content: space-around;
	align-items: center;
  }

  #logo ion-icon{
	font-size: x-large;
	border: 2px solid black;
	padding: 1.7vh;
	border-radius: 100%;
	background-color: gold;
	transition: color 0.7s ease-in, background-color 0.7s ease-in;
  }

  #logo ion-icon:hover{
    color: gold;
	background-color: black;
  }
  
  #content {
	text-align: center;
	width: 100vw;
	margin-top: 10%;
	flex: 1;  /* Allow the content to grow and take up remaining space */
  }

  #content{
	font-family: without;
  }

  input{
	width: 30vw;
	height: 5vh;
	border-radius: 2px;
	border: transparent 2px solid;
	box-shadow: black 1px 1px 1px 1px;
	text-align: center;
}

button{
	height: 5vh;
	border: solid transparent;
	transition: all 1s ease-in-out;
	border-radius: 10px;
	background-color: gold;
	font-family: monserrat;
	padding-left: 2%;
	padding-right: 2%;
}

button:hover{
	background-color: black;
	color: gold;
}

#meaning{
	display: flex;
	justify-content: center;
	margin-top: 4vh;
	font-size: large;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	letter-spacing: normal;
	padding: 3%;
}

#search{
	font-family: without	;
}

  
  #meaning {
	flex: 1;  /* Allow #meaning to grow */
  }
  
  footer{
	width: 100vw;
	background-color: black;
	color: gold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
	padding-top: 5vh;
	margin-bottom: 0vh;
}


footer .icons{
	font-size: 2em;
	
}

.icons ion-icon{
	margin-left: 2%;
	border-radius: 100%;
	padding:0.5%;
	border: solid 5px white;
	background-color: white;
	color: black;
	transition: background-color 1s ease-in  , border 1s ease-in;
}

.icons ion-icon:hover{
   background-color: gold;
   border: solid 5px gold;
}

nav a{
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: gold;
	margin-left: 2%;
}



nav {
	margin-top: 3vh;
}

footer p{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-bottom: 0vh;
	width: 100vw;
	background-color: gold;
	padding-top: 2vh;
	padding-bottom: 2vh;
	color: black;
}

